@import "bootstrap";


#container_1 a:hover {
    background:#cccccc;
    color:yellowgreen;
}


.container_1 a:hover {
    background:#B00100;
    color:yellowgreen;
}

.main {
    text-align: center;
}
